<!DOCTYPE html>
<html>
  <head>
    <title>Backbench Task</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
  	<nav>
  		<ul>
  			<li><a href="/">HOME</a></li>
  			<li>/</li>
  			<li><a href="/stats">STATS</a></li>
  			<li>/</li>
			<li><a href="/process/">PROCESS</a></li>
  		</ul>
  		<hr>
  	</nav>
  	<center>
  		<h1>Hi. This is Vaibhav.</h1>
  		<h2>Find me on</h2>
  		<h3><a href="https://github.com/VaibhavN007">&lt; GITHUB: VaibhavN007 &gt;</a></h3>
  		<h3><a href="mailto:vaibhavnit007@gmail.com">&lt; GMAIL: vaibhavnit007 &gt;</a></h3>
  	</center>
  	<footer><center>Made with <span>&#10084;</span> by vaibhav</center></footer>
  </body>
</html>
