<!DOCTYPE html>
<html>
	<head>
		<title>STATS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">HOME</a></li>
				<li>/</li>
				<li><a href="/stats">STATS</a></li>
				<li>/</li>
				<li><a href="/process/">PROCESS</a></li>
			</ul>
			<hr>
		</nav>
		<center>
			<h2>STATS</h2>
			<label for="totalReq">Total Requests : </label><span id="totalReq">0</span>
			<br><br>
			<label for="getReq">GET Requests : </label><span id="getReq">0</span>
			<br><br>
			<label for="postReq">POST Requests : </label><span id="postReq">0</span>
			<br><br>
			<label for="putReq">PUT Requests : </label><span id="putReq">0</span>
			<br><br>
			<label for="deleteReq">DELETE Requests : </label><span id="deleteReq">0</span>
		</center>
	  	<footer><center>Made with <span>&#10084;</span> by vaibhav</center></footer>

		<script src="/javascripts/stats.js"></script>
	</body>
</html>
